NAME HERE: Leah Koenigsberg

In [5]:
#create a list
my_list = []
my_list.append(1)
my_list.append(2)
my_list.append(1)
my_list.append([3,4,5])
print(my_list)

my_list[2] = 3
print(my_list)

my_list.remove(3)
print(my_list)

my_new_list = []
my_new_list = my_list.copy()
print(my_list)

[1, 2, 1, [3, 4, 5]]
[1, 2, 3, [3, 4, 5]]
[1, 2, [3, 4, 5]]
[1, 2, [3, 4, 5]]

In [ ]:
#HOW TO COPY A LIST: #1
my_list = []
my_list.append(1)
my_list.append(2)
my_list.append([3,4,5])
print(my_list)

my_new_list = []
my_new_list = my_list.copy()
print(my_list)

In [9]:
#HOW TO COPY A LIST: #2
my_list = []
my_list.append(1)
my_list.append(2)
my_list.append([3,4,5])
print(my_list)

my_new_list = []
my_new_list = my_list[ : ]
my_new_list.insert(3,6)
print('Old List:', my_list)
print('New List:', my_new_list)

[1, 2, [3, 4, 5]]
Old List: [1, 2, [3, 4, 5]]
New List: [1, 2, [3, 4, 5], 6]

In [10]:
try:
  my_list = []
  my_list.append(1)

  #number out of range
  my_list[4]
except IndexError as err:
  print('This index is out of range.')

This index is out of range.

In [21]:
#create a list
nums=[1,3,5]

#1. SIMPLE FOR LOOP:
print()
print('1) SIMPLE FOR LOOP:')
for i in nums:
  print(i)

#2. LEN FOR LOOP:
print()
print('2) LEN FOR LOOP:')
for i in range(len(nums)):
  print(nums[i])

#3. ENUMERATE FOR LOOP:
print()
print('3) ENUMERATE FOR LOOP:')
for i, value in enumerate(nums):
  print(f'{i} {nums[i]} {value}')

#4. WHILE LOOP- ACCUMULATOR:
print()
print('4) WHILE LOOP- ACCUMULATOR:')
index = 0
while index < len(nums):
  print(nums[index])
  index+=1

1) SIMPLE FOR LOOP:
1
3
5

2) LEN FOR LOOP:
1
3
5

3) ENUMERATE FOR LOOP:
0 1 1
1 3 3
2 5 5

4) WHILE LOOP- ACCUMULATOR:
1
3
5

In [29]:
#Multidemesional lists- matrix
rows=4
cols=3
multi = []
val = 1

#can use an undescore
for _ in range(rows):
  row = []
  for _ in range(cols):
    row.append(val)
  multi.append(row)
  val+=1


print(multi)

[[1, 1, 1], [2, 2, 2], [3, 3, 3], [4, 4, 4]]

In [42]:
#Nested lists that do not work:

#u can put a comma and then rows will be assigned 2 and cols 3
row, cols = 2,3
grid=[[1] *cols]*rows #multiplying list by rows is what wont work
print(grid)

#there are all pointing to one place so will never work...
grid[0][0]=5
grid[1][1]=4
grid[2][2]=3
print(grid)

#BUT: this will work...
my_list=['Leah']*5
print()
print(my_list)

my_list[1]= 'Reizi'
my_list[2]= 'Ruchama'
my_list[3]= 'Shaked'
my_list[4]= 'Chani'
print(my_list)



lst=[1]*5
val = 1
print()
for i in range(len(lst)):
  lst[i] = val
  print(lst)
  val+=1

[[1, 1, 1], [1, 1, 1], [1, 1, 1], [1, 1, 1]]
[[5, 4, 3], [5, 4, 3], [5, 4, 3], [5, 4, 3]]

['Leah', 'Leah', 'Leah', 'Leah', 'Leah']
['Leah', 'Reizi', 'Ruchama', 'Shaked', 'Chani']

[1, 1, 1, 1, 1]
[1, 2, 1, 1, 1]
[1, 2, 3, 1, 1]
[1, 2, 3, 4, 1]
[1, 2, 3, 4, 5]